<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.kodingnext.speakplease" >

    <!--3.5 TODO : adding mic permission-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--3.5 TODO : adding mic permission-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" android:label="Speak Please" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--2.3 TODO : adding the text from shared intent text-->
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <!--2.3 TODO : adding the text from shared intent text-->
            </intent-filter>
        </activity>
    </application>

</manifest>